      body {
      font-family: 'Quicksand', sans-serif;
    }

    body {
        background-color: #ffffff;
        font-family: 'Quicksand', sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.6;
        color: #4a4a4a;
      }

      h1, h2, h3, h4 {
        line-height: 1.4;
      }
      h1 {
        font-size: 2.75em;
        font-weight: 700;
      }

      h2 {
        font-size: 2.25em;
        font-weight: 700;
      }

      h3 {
        font-size: 1.75em;
        font-weight: 400;
      }
      h4 {
        font-size: 1.35em;
        font-weight: 400;
      }

      img {
      width: 100%;
    }

    a {
      color: #74A4A1;
      text-decoration: none;
    }
    a:hover {
      color: #CF846E;
      text-decoration: underline;
    }
    a:hover,
    a:focus {
      color: #CF846E;
      text-decoration: underline;
    }

    .button {
      display: inline-block;
      background-color: #CF846E;
      color: #ffffff;
      font-weight: 400;
      padding: 10px;
      border-radius: 3px;
      border-bottom: 2px solid #994c30;
      transition: 0.2s opacity;
    }

    .button:hover {
      opacity: 0.8;
      color: #ffffff;
      text-decoration: none;
    }

    .button.contact {
      background-color: transparent;
      color: #CF846E;
      text-transform: uppercase;
      border: 2px solid #CF846E;
    }

    .button.contact:hover {
      background-color: #CF846E;
      color: #ffffff;
    }
